
body{
background-color:#FEC5E5 ;
}
H1{
	color: #9E4244 ;
	text-align: Center;
    font-family:"Courier New", sans-serif ;
    font-size: 70px;
}
H2{
color: #9E4244 ;
    text-align: Center;
    font-family:"Courier New", sans-serif ;
    font-size: 70px;
}
    
}
Ul{ color: #f25278;
    text-align: left;
    font-family:"Courier New", sans-serif ;
    font-size: 35px; }


    p{
    	color: #FC4C4E ;
	text-align: left;
    font-family:"Courier New", sans-serif ;
    font-size: 25px;
    }

    a:hover{
        color:  #FC9483;
    }

    img{
        border-color: #E11584 ;
        border-width: 5px;
        border-style: solid ;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    a{ 
        font-size: 30px;
        color: # 241571;
        text-align: center;
        font-family:"Courier New", sans-serif ;
     }